* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #ffffff;
    font-family: 'nunito' , 'arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    color: #3F334D;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 150px;
    font-size: 36px;
}

/* .welcome {
    text-align: center;
    margin-top: 150px;
    font-size: 36px;
} */

.login,
.signup {
    text-align: center;
    margin-bottom: 20px;
}


.placeholder {
    display: grid;
    padding: 5px;
    font-size: 30px;
    border-bottom: #3F334D;
}

.placeholder input {
    margin-top: 10px;
    border: none;
}

input[type=email],
input[type=password],
input[type=username],
input[type=confirm-password] 
{
    width: 100%;
    border-bottom: 1px solid #3F334D;
    padding: 4px;
}

#email,
#user-name,
#password,
#confirm-password {
    margin-bottom: 20px;
}

.forgot-password {
    float: right;
    margin-right: 25%;
    padding: 4px;
    margin-top: 20px;
    text-decoration: none;
}

.bottom {
    margin-left: 25.7%;
    margin-top: 10%;
}

.log-in {
    margin-top: -35px;
}

.sign-up {
    margin-top: -40px;
}



.log-in:link,
.log-in:visited,
.sign-up:link,
.sign-up:visited{
    float: right;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 5px;
    text-decoration: none;
    transition: background-colo 0.2s, border 0.2s, color 0.2s;
    

}

.log-in:link,
.log-in:visited,
.sign-up:link,
.sign-up:visited{
    background-color: #3F334D;
    margin-right: 35%;
    border-color: 1px solid #3F334D;
    color: #ffffff;
}

.log-in:hover,
.log-in:active,
.sign-up:hover,
.sign-up:active {
    background-color: #3c2853;
}



.sign_in {
    margin-top: 10.5px;
}

.signin {
    text-decoration: none; 
    margin-top: 10.5px; 
}

.already-account {
    text-decoration: none;
}

.already_account {
    margin-top: -45px;
}

.login-with,
.continue-with {
    margin-left: 45%;
    margin-top: 80px;
}

.login-icons {
    display: flex;
    margin-left: 42%;
    list-style: none;
    margin-bottom: 10%;
    font-size: 200%;
}

.login_icons { 
    display: flex;
    margin-left: 44%;
    list-style: none;
    margin-bottom: 10%;
    font-size: 200%;
}

.facebook_icon,
.google_icon {
    padding: 4%;
    color: #3375cc;
}

i {
    color: #4076c5;
}

input:focus {
    outline: none;
}

.password-icon {
    position: absolute;
    margin-left: 26rem;
    margin-top: 2.6rem;
    font-size: 1.2rem;
    color: #3f334da4;
}

.password_icon {
    position: absolute;
    margin-left: 34%;
    margin-top: 7%;
    font-size: 25px;
    color: #3f334da4;
} 

.password__icon {
    position: absolute;
    font-size: 25px;
    color: #3f334da4;
    margin-left: 34%;
    margin-top: 11%;
} 

/* 
-------------------------------------
----------continue profile-----------
-------------------------------------  */

.upper_border {
    padding: 40px;
    background-color: #3F334D;
}

.profile_info {
    float: right;
    padding: 6px 18px;
    background-color: #ffffff;
    color: #3F334D;
    text-decoration: none;
    font-size: 25px;
    border-radius: 80%;
    margin-top: -25px;
    margin-right: 0.6%;
}

.continue_h1 {
    margin-top: 8%;
    text-align: center;
}

.continue_icon {
    display: flex;
}

.individual {
    padding: 8%;
    margin-left: 20%;
}

.team {
    padding: 8%;
}

.para_individual {
    margin-left: 12px;
    text-decoration: none;
}

.para_team {
    margin-left: 55px;
    text-decoration: none;
}


.continue:link,
.continue:visited {
    float: right;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 5px;
    text-decoration: none;
    transition: background-colo 0.2s, border 0.2s, color 0.2s;
    

}

.continue:link,
.continue:visited {
    background-color: #3F334D;
    margin-right: 47%;
    margin-bottom: 5%;
    border-color: 1px solid #3F334D;
    color: #ffffff;
}

.continue:hover,
.continue:active {
    background-color: #3c2853;
}


/* 
-------------------------------------
----------Create list-----------
-------------------------------------  */

.upper_border {
    padding: 40px;
    background-color: #3F334D;
}

.profile_info {
    float: right;
    padding: 6px 18px;
    background-color: #ffffff;
    color: #3F334D;
    text-decoration: none;
    font-size: 25px;
    border-radius: 80%;
    margin-top: -24px;
}


.create_list_placeholder {
    text-align: center;
    display: grid;
    padding: 5px;
    font-size: 30px;
    border-bottom: #3F334D;
    margin-left: 30%;
}

.create_list_placeholder input {
    margin-top: 80px;
    border: none;
}

input[type=createlist] {
    width: 60%;
    border-bottom: 1px solid #3F334D;
    padding: 4px;
}

.add_more {
    font-size: 18px;
    color: #3F334D;
    text-decoration: none;
    margin-top: 4%;
    margin-right: -65px;
    padding-bottom: 15%;
}

/* btn */

.skip:link,
.skip:visited,
.proceed:link,
.proceed:visited {
    float: right;
    padding: 8px 30px;
    font-weight: 300;
    border-radius: 5px;
    text-decoration: none;
    transition: background-colo 0.2s, border 0.2s, color 0.2s;
}

.skip:link,
.skip:visited {
    border: 1px solid #3F334D;
    color: #3F334D;
    margin-right: 42%;
}

.proceed:link,
.proceed:visited {
    background-color: #3F334D;
    margin-right: -30%;
    margin-bottom: 5%;
    border-color: 1px solid #3F334D;
    color: #ffffff;
}

.proceed:hover,
.proceed:active {
    background-color: #3c2853;
}

/* 
-------------------------------------
----------Profile page-----------
-------------------------------------  */

.your-profile {
    margin-top: 5%;
}

.profile_icon {
    text-align: center;
    padding: 20px;
}

.profile_placeholder {
    text-align: center;
    display: grid;
    padding: 5px;
    font-size: 30px;
    border-bottom: #3F334D;
    margin-left: 35%;
}

.profile_placeholder input {
    margin-top: 30px;
    border: none;
}

input[type=fullname],
input[type=profile_email],
input[type=phone_number] {
    width: 60%;
    border-bottom: 1px solid #3F334D;
    padding: 4px;
}

.save:link,
.save:visited {
    float: right;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 5px;
    text-decoration: none;
    transition: background-colo 0.2s, border 0.2s, color 0.2s;
}

.save:link,
.save:visited {
    background-color: #3F334D;
    margin-right: 35.5%;
    margin-bottom: 5%;
    border-color: 1px solid #3F334D;
    color: #ffffff;
    margin-top: 3%;
}

.save:hover,
.save:active {
    background-color: #3c2853;
}


/* 
-------------------------------------
----------Task page-----------
-------------------------------------  */

.line_menu {
    float: left;
    margin-top: -20px;
    margin-left: 8px;
}

.btn_addmore {
    position: absolute;
    top: 4rem;
    right: 1rem;
}

.Tasker {
    float: left;
    margin-top: 1.9%;
    margin-left: 3.2%;
}

.taskbox {
    margin-top: 6%;
    margin-left: 3.5%;
   
}

.column1,
.column2,
.column3 {
    padding-bottom: 4%;
    border: 1px solid #3c2853;
    padding-left: 2%;
    padding-right: 0%;
    background: linear-gradient(360deg,#ffffffff 80%, #3F334D 20%);
    border-radius: 1%;
    color: #ffffff;
    margin-top: 2rem !important;
}
.tasks_container {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0;
    height: fit-content;
}
.page_container {
    height: 100vh;
}
.list_name {
    margin-top: 4%;
}
.list_header {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: #3F334D;
}
.icon_container {
    margin-top: .5rem;
}
.header_icon {
    height: 1.2rem;
    margin-right: 10px;
}

.add_title,
.progress_add_title,
.done_add_title {
    float: right;
    margin-top: -21%;
    margin-right: 20%;
}

.delete_icon,
.progress_delete_icon,
.done_delete_icon {
    float: right;
    margin-top: -21%;
    margin-right: 4%;
}

.task_list {
    padding: 0 .7rem;
    margin-top: 10%;
    border-bottom: #3F334D;
    font-size: 15px;
    color: #3F334D;
    border: none;
    display: grid;
}

.list_item {
    border-bottom: 1px solid #3F334D;
    text-decoration: none;
    color: #3F334D;
    display: block;
    padding-bottom: .3rem;
}
.list_item_icon {
    float: right;
    margin-right: .8rem;
}
.list_name {
    padding-left: .7rem;
    color: #fff;
}
.circle {
    height: 1rem;
    width: 1rem;
    color: red;
    background-color: #3F334D;
    border-radius: 50%;
    float: right;
}

.untitled2 {
    /* margin-bottom: 15%; */
}

a[type=untitled],
a[type=untitled2] {
    width: 100%;
}

.profile_setup,
.progress_profile_setup,
.done_profile_setup {
    float: right;
    margin-top: -50%;
}

.calender,
.progress_calender,
.done_calender {
    float: right;
    margin-top: -50%;
    margin-right: 40px;
}

.btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task_btn:link,
.task_btn:visited,
.progress_task_btn:link,
.taskprogress_task_btn_btn:visited,
.done_task_btn:link,
.done_task_btn:visited {
    padding: 5px 39px;
    /* font-weight: 300; */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.task_btn:link,
.task_btn:visited,
.progress_task_btn:link,
.progress_task_btn:visited, 
.done_task_btn:link,
.done_task_btn:visited {
    background-color: #3F334D;
    /* margin-right: 2.5%; */
    margin-left: -1%;
    margin-bottom: 5%;
    border-color: 1px solid #3F334D;
    color: #ffffff;
}

.task_btn:hover,
.task_btn:active,
.progress_task_btn:hover,
.progress_task_btn:active,
.done_task_btn:hover,
.done_task_btn:active {
    background-color: #3c2853;
}






